# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/register-theme-directory.php
!web/app/mu-plugins/bedrock-autoloader.php

# WordPress
web/wp

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

.DS_Store
composer.lock
.phpintel/

#IP Wordpress
web/app/themes/iprospect-roots-wordpress-template/bower_components/
web/app/themes/iprospect-roots-wordpress-template/assets/css/main.min.css
web/app/themes/iprospect-roots-wordpress-template/assets/js/scripts.min.js


# Strata
bin/strata
bin/wp-cli.phar
bin/phpunit.phar
log/*.log
tmp/*

# OS files
*/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
composer.lock
