/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";
@import "snap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { }

/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

.snap-toggle {
   float:left;
   margin-right: 15px;
   margin-top: 8px;
   background: none;
   border: none;
   display: none;
}

.snap-drawer {
   background-color: #d6d6d6;
}

.admin-bar {
  #snap-content {
    > header { margin-top: 32px;}
  }
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }

#snap-content {
   background-color: #fff;
}

.royalSlider {
   height: 400px;
   width: 1200px;
   overflow: hidden;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@import "responsive-320.less";
@import "responsive-768.less";
@import "responsive-1280.less";

