.tpl-edit-language .field-grid li {
    display: block;
    float:left;
    width:50%;
    border-bottom: 1px solid #ddd;
    padding:0.5em 0;
}

.tpl-edit-language .field-grid .lbl {
    display: inline-block;
    width:80px;
    text-align: left;

}

.tpl-edit-language .field-grid input {
    display: inline-block;
    width:100px;
}

/* Hide WPML's default boxes */
#icl_div_config,
#icl_div,
#wp-admin-bar-WPML_ALS,
.column-icl_translations {
    display:none;
}


.manage-regions .col {
    width:50%;
    float:left;
}

.manage-regions .locale-pill {
    display:inline-block;
    min-width:100px;
    box-shadow: 0 0px 3px rgba(0,0,0,.2);
    border-radius:3px;
    padding:0.5em;
    background:#fff;
    border:1px solid #999;
    margin:1em;
}

.manage-regions .drop {
    background:#eee;
    border:1px solid #dedede;
    min-height:100px;
    min-width:200px;
    width:80%;
    margin:1em 0;
    padding:0.5em;
}

.manage-regions span.close {
    display:inline-block;
    width:20px;
    text-align:center;
    cursor:pointer;
}
