/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";
@import "../js/bower_components/jQuery.mmenu/dist/css/jquery.mmenu.all.css";

/* ==========================================================================
   Colors
   ========================================================================== */

@lightGrey: #f6f6f6;
@darkGrey: #c6c6c6;
@black: #000000;
@white: #ffffff;

/* ==========================================================================
   Base
   ========================================================================== */

body {}
/* ==========================================================================
   Header
   ========================================================================== */

.banner {
    background-color: @lightGrey;
    padding: 1em 0;
    .row:first-child {
        border-bottom: 1px solid @darkGrey;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }
}

#body-wrapper #mmenu {
    display: none;
}

#mmenu:not(.mm-menu) {
    display: none;
}

.menu-toggle {
	margin-right: 1em;
	border: none;
	background: none;
}

.nav-main {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: block;
            float: left;
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
            a {
                display: block;
            }
        }
    }
}
/* ==========================================================================
   Content
   ========================================================================== */

.content {}

.home-articles {
    .post-item.first {
        width: 100%;
        margin: 0;
        .img-container {
            width: 50%;
            margin-right: 1%;
            float: left;
        }
        .post-content {
            float: left;
            width: 49%;
        }
        img {
            width: 100%;
            max-widht: 100%;
            max-height: 400px;
        }
    }
    .post-item {
        float: left;
        width: percentage( (1140-40)/1140/3);
        margin-right: percentage(40/1140/2);
        .img-container {
            position: relative;
            .date-container {
                position: absolute;
                right: 20px;
                top: 20px;
                background-color: @white;
                padding: 1em;
            }
        }
        .read-more {
            margin-top: 1em;
        }
        img {
            width: 100%;
            max-width: 100%;
            max-height: 300px;
        }
        &:nth-child(3n+2) {
            margin-right: 0;
        }
    }
}
/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {}
/* Gallery Shortcode */

.gallery-row {
    padding: 15px 0;
}
/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
    padding: 0.5em 2em;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    margin-top: 2em;
}
/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header {}

.hentry time {}

.hentry .byline {}

.hentry .entry-content {}

.hentry footer {}
/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
    background-color: @lightGrey;
    margin-top: 1em;
    padding-bottom: 1em;
}
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

figure.alignnone {
    margin-left: 0;
    margin-right: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@import "forms.less";
@import "contact.less";
@import "../js/bower_components/slick-carousel/slick/slick.css";
@import "../js/bower_components/slick-carousel/slick/slick-theme.css";
@import "responsive-320.less";
@import "responsive-768.less";
@import "responsive-992.less";
@import "responsive-1280.less";
